/* Esto es un comentario  

elemento {
    propiedad: valor;
}



*/

h1 {

    background-color: rgb(186, 233, 236);
}

body {
    background-color: antiquewhite;
}

.menu-container {
    color: black;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

.menu {
border: 1px solid black;
width: 900px;
display: flex;
justify-content: space-around

}

